body {
}

/* Fonts  */
h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Crimson Text', serif;
}


h1 {
  border: 0;
  margin: 0;
  margin-bottom: 1em;
  font-size: 52px;
  text-align: center;
}

section {
  width: 800px;
  margin: 1em auto;
  margin-bottom: 5em;
  /*border: 1px solid blue;*/
}

/*
ccab99
*/
section h2 {
  width: inherit;
  border-top: 4px solid #ccad99;
  border-bottom: 2px solid #ccad99;
  margin: 0;
  padding: 0;
  text-indent: 1em;
  font-size: 30px;
}

section h3 {
  width: inherit;
  margin: 1em 0 0 0;
  padding: 0;
  text-indent: 2em;
  font-size: 20px;
}

section > p {
  margin: 2em;
  text-align: justify;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}

section > div {
  height: 450px;
  width: 700px;
  margin: 1em auto;
  margin-bottom: 0;
  border: 0;
}

.highcharts-title {
    font-family: 'Open Sans';
    font-weight: bold;
}

#studies {
  height: 300px;
}

section hr {
  display: block;
  height: 1px;
  width: 500px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 2em auto;
  padding: 0;
}

section a {
  float:left;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 1em;
}

section a img {float: left;
  border: 2px solid #ccc;
  margin: 0;
  padding: 0;
  width: 65px;
}

section h3 + p {
    margin: 0 0 0 2em;
    padding: 0;
}
